@import tags._
@(form: Form[auth.LoginRequest])

@main("login") {

<h1>Login</h1>
<form  method="POST" class="form" action="@routes.Application.doLogin()">
    @bs(form("id"), "id") {(name, value) =>
        <input type="text" name="@name"  id="@name" class="form-control" placeholder="user1" value="@value" />
    }
    @bs(form("password"), "password") { (name, value) =>
        <input type="password" name="@name"  id="@name" class="form-control" placeholder="user1" value="@value" />
    }

    <input type="submit" class="btn btn-primary" value="ログイン"/>
</form>
</div>


}
